.rectangle-button9,
.rectangle-div310 {
  position: absolute;
  top: calc(50% - 320px);
  left: calc(50% - 180px);
  background-color: var(--color-gray-100);
  width: 360px;
  height: 24px;
}
.rectangle-button9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-white);
  top: calc(50% - 296px);
  height: 40px;
}
.group-button3,
.rectangle-div311,
.vector-icon25 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
}
.group-button3,
.vector-icon25 {
  top: calc(50% - 9.17px);
  height: 17.65px;
}
.group-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 286px);
  left: calc(50% - 164px);
  height: 20px;
}
.frozen-2-div5 {
  position: absolute;
  top: calc(50% - 285px);
  left: calc(50% - 120px);
  font-size: var(--font-size-2xl);
  font-weight: 500;
  color: var(--color-red-300);
  display: inline-block;
}
.friday-29-november-400-pm3 {
  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 160px);
  font-size: var(--font-size-base);
  display: inline-block;
}
.rectangle-div312 {
  position: absolute;
  top: calc(50% - 238px);
  left: calc(50% - 47px);
  background-color: var(--color-gray-600);
  width: 1px;
  height: 10px;
}
.rectangle-div313 {
  position: absolute;
  top: calc(50% - 215px);
  left: calc(50% - 160px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-red-300);
  width: 16px;
  height: 16px;
}
.vector-icon26 {
  position: absolute;
  top: calc(50% - 159.67px);
  left: calc(50% - 127px);
  width: 254px;
  height: 24px;
}
.all-eyes-this-way3 {
  position: absolute;
  top: calc(50% - 130px);
  left: calc(50% - 36px);
  font-weight: 300;
  color: var(--color-gray-400);
  display: inline-block;
}
.rectangle-div314,
.rectangle-div315,
.rectangle-div316 {
  position: absolute;
  top: calc(50% - 125.5px);
  left: calc(50% - 108px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.rectangle-div315,
.rectangle-div316 {
  top: calc(50% - 99.5px);
}
.rectangle-div316 {
  left: calc(50% - 134px);
}
.rectangle-div317,
.rectangle-div318,
.rectangle-div319,
.rectangle-div320,
.rectangle-div321,
.rectangle-div322,
.rectangle-div323,
.rectangle-div324,
.rectangle-div325 {
  position: absolute;
  top: calc(50% - 73.5px);
  left: calc(50% - 108px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.rectangle-div318,
.rectangle-div319,
.rectangle-div320,
.rectangle-div321,
.rectangle-div322,
.rectangle-div323,
.rectangle-div324,
.rectangle-div325 {
  left: calc(50% - 134px);
}
.rectangle-div319,
.rectangle-div320,
.rectangle-div321,
.rectangle-div322,
.rectangle-div323,
.rectangle-div324,
.rectangle-div325 {
  left: calc(50% - 160px);
}
.rectangle-div320,
.rectangle-div321,
.rectangle-div322,
.rectangle-div323,
.rectangle-div324,
.rectangle-div325 {
  left: calc(50% - -144px);
}
.rectangle-div321,
.rectangle-div322,
.rectangle-div323,
.rectangle-div324,
.rectangle-div325 {
  left: calc(50% - -118px);
}
.rectangle-div322,
.rectangle-div323,
.rectangle-div324,
.rectangle-div325 {
  left: calc(50% - -92px);
}
.rectangle-div323,
.rectangle-div324,
.rectangle-div325 {
  top: calc(50% - 99.5px);
  left: calc(50% - -118px);
}
.rectangle-div324,
.rectangle-div325 {
  left: calc(50% - -92px);
}
.rectangle-div325 {
  top: calc(50% - 125.5px);
}
.rectangle-div326,
.rectangle-div327,
.rectangle-div328,
.rectangle-div329,
.rectangle-div330,
.rectangle-div331,
.rectangle-div332,
.rectangle-div333,
.rectangle-div334 {
  position: absolute;
  top: calc(50% - 125.5px);
  left: calc(50% - 44px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.rectangle-div327,
.rectangle-div328,
.rectangle-div329,
.rectangle-div330,
.rectangle-div331,
.rectangle-div332,
.rectangle-div333,
.rectangle-div334 {
  left: calc(50% - 20px);
}
.rectangle-div328,
.rectangle-div329,
.rectangle-div330,
.rectangle-div331,
.rectangle-div332,
.rectangle-div333,
.rectangle-div334 {
  left: calc(50% - -4px);
}
.rectangle-div329,
.rectangle-div330,
.rectangle-div331,
.rectangle-div332,
.rectangle-div333,
.rectangle-div334 {
  left: calc(50% - -28px);
}
.rectangle-div330,
.rectangle-div331,
.rectangle-div332,
.rectangle-div333,
.rectangle-div334 {
  top: calc(50% - 99.5px);
  left: calc(50% - 44px);
}
.rectangle-div331,
.rectangle-div332,
.rectangle-div333,
.rectangle-div334 {
  left: calc(50% - 20px);
}
.rectangle-div332,
.rectangle-div333,
.rectangle-div334 {
  left: calc(50% - -4px);
}
.rectangle-div333,
.rectangle-div334 {
  left: calc(50% - -28px);
}
.rectangle-div334 {
  top: calc(50% - 73.5px);
  left: calc(50% - 44px);
}
.rectangle-div335,
.rectangle-div336,
.rectangle-div337,
.rectangle-div338,
.rectangle-div339,
.rectangle-div340,
.rectangle-div341,
.rectangle-div342,
.rectangle-div343 {
  position: absolute;
  top: calc(50% - 73.5px);
  left: calc(50% - 20px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.rectangle-div336,
.rectangle-div337,
.rectangle-div338,
.rectangle-div339,
.rectangle-div340,
.rectangle-div341,
.rectangle-div342,
.rectangle-div343 {
  left: calc(50% - -4px);
}
.rectangle-div337,
.rectangle-div338,
.rectangle-div339,
.rectangle-div340,
.rectangle-div341,
.rectangle-div342,
.rectangle-div343 {
  left: calc(50% - -28px);
}
.rectangle-div338,
.rectangle-div339,
.rectangle-div340,
.rectangle-div341,
.rectangle-div342,
.rectangle-div343 {
  top: calc(50% - 34px);
  left: calc(50% - 108px);
}
.rectangle-div339,
.rectangle-div340,
.rectangle-div341,
.rectangle-div342,
.rectangle-div343 {
  left: calc(50% - 134px);
}
.rectangle-div340,
.rectangle-div341,
.rectangle-div342,
.rectangle-div343 {
  left: calc(50% - 160px);
}
.rectangle-div341,
.rectangle-div342,
.rectangle-div343 {
  left: calc(50% - -144px);
}
.rectangle-div342,
.rectangle-div343 {
  left: calc(50% - -118px);
}
.rectangle-div343 {
  left: calc(50% - -92px);
  background-color: var(--color-red-300);
}
.rectangle-div344,
.rectangle-div345,
.rectangle-div346,
.rectangle-div347,
.rectangle-div348,
.rectangle-div349,
.rectangle-div350 {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% - 44px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.rectangle-div345,
.rectangle-div346,
.rectangle-div347,
.rectangle-div348,
.rectangle-div349,
.rectangle-div350 {
  left: calc(50% - 20px);
}
.rectangle-div346,
.rectangle-div347,
.rectangle-div348,
.rectangle-div349,
.rectangle-div350 {
  left: calc(50% - -4px);
}
.rectangle-div347,
.rectangle-div348,
.rectangle-div349,
.rectangle-div350 {
  left: calc(50% - -28px);
}
.rectangle-div348,
.rectangle-div349,
.rectangle-div350 {
  top: calc(50% - 8px);
  left: calc(50% - 108px);
}
.rectangle-div349,
.rectangle-div350 {
  left: calc(50% - 134px);
}
.rectangle-div350 {
  left: calc(50% - 160px);
}
.rectangle-div351,
.rectangle-div352,
.rectangle-div353,
.rectangle-div354,
.rectangle-div355,
.rectangle-div356,
.rectangle-div357,
.rectangle-div358 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - -144px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.rectangle-div352,
.rectangle-div353,
.rectangle-div354,
.rectangle-div355,
.rectangle-div356,
.rectangle-div357,
.rectangle-div358 {
  left: calc(50% - -118px);
}
.rectangle-div353,
.rectangle-div354,
.rectangle-div355,
.rectangle-div356,
.rectangle-div357,
.rectangle-div358 {
  left: calc(50% - -92px);
}
.rectangle-div354,
.rectangle-div355,
.rectangle-div356,
.rectangle-div357,
.rectangle-div358 {
  left: calc(50% - 44px);
}
.rectangle-div355,
.rectangle-div356,
.rectangle-div357,
.rectangle-div358 {
  left: calc(50% - 20px);
}
.rectangle-div356,
.rectangle-div357,
.rectangle-div358 {
  left: calc(50% - -4px);
  background-color: var(--color-red-300);
}
.rectangle-div357,
.rectangle-div358 {
  left: calc(50% - -28px);
}
.rectangle-div358 {
  top: calc(50% - -18px);
  left: calc(50% - 108px);
  background-color: var(--color-gray-300);
}
.rectangle-div359,
.rectangle-div360,
.rectangle-div361,
.rectangle-div362,
.rectangle-div363,
.rectangle-div364,
.rectangle-div365,
.rectangle-div366,
.rectangle-div367 {
  position: absolute;
  top: calc(50% - -18px);
  left: calc(50% - 134px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.rectangle-div360,
.rectangle-div361,
.rectangle-div362,
.rectangle-div363,
.rectangle-div364,
.rectangle-div365,
.rectangle-div366,
.rectangle-div367 {
  left: calc(50% - 160px);
}
.rectangle-div361,
.rectangle-div362,
.rectangle-div363,
.rectangle-div364,
.rectangle-div365,
.rectangle-div366,
.rectangle-div367 {
  left: calc(50% - -144px);
}
.rectangle-div362,
.rectangle-div363,
.rectangle-div364,
.rectangle-div365,
.rectangle-div366,
.rectangle-div367 {
  left: calc(50% - -118px);
}
.rectangle-div363,
.rectangle-div364,
.rectangle-div365,
.rectangle-div366,
.rectangle-div367 {
  left: calc(50% - -92px);
}
.rectangle-div364,
.rectangle-div365,
.rectangle-div366,
.rectangle-div367 {
  left: calc(50% - 44px);
}
.rectangle-div365,
.rectangle-div366,
.rectangle-div367 {
  left: calc(50% - 20px);
}
.rectangle-div366,
.rectangle-div367 {
  left: calc(50% - -4px);
}
.rectangle-div367 {
  left: calc(50% - -28px);
}
.group-div36 {
  position: absolute;
  top: calc(50% - 26.5px);
  left: calc(50% - 160px);
  width: 320px;
  height: 68px;
}
.rectangle-div373,
.rectangle-div386,
.rectangle-div387 {
  position: absolute;
  top: calc(50% - 34px);
  left: calc(50% - -92px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
  height: 16px;
}
.rectangle-div386,
.rectangle-div387 {
  top: calc(50% - 8px);
  left: calc(50% - -4px);
}
.rectangle-div387 {
  left: calc(50% - -28px);
}
.rectangle-div389,
.rectangle-div390,
.rectangle-div394,
.rectangle-div395,
.rectangle-div396,
.rectangle-div397 {
  position: absolute;
  top: calc(50% - -18px);
  left: calc(50% - 134px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-red-300);
  width: 16px;
  height: 16px;
}
.rectangle-div390,
.rectangle-div394,
.rectangle-div395,
.rectangle-div396,
.rectangle-div397 {
  left: calc(50% - 160px);
}
.rectangle-div394,
.rectangle-div395,
.rectangle-div396,
.rectangle-div397 {
  left: calc(50% - 44px);
}
.rectangle-div395,
.rectangle-div396,
.rectangle-div397 {
  left: calc(50% - 20px);
}
.rectangle-div396,
.rectangle-div397 {
  left: calc(50% - -4px);
}
.rectangle-div397 {
  left: calc(50% - -28px);
}
.group-div37 {
  position: absolute;
  top: calc(50% - -72.5px);
  left: calc(50% - 160px);
  width: 320px;
  height: 68px;
}
.balcony-rs-150003,
.executive-rs-200001,
.normal-rs-200003 {
  position: absolute;
  top: calc(50% - 140.5px);
  left: calc(50% - 39px);
  font-size: var(--font-size-xs);
  font-weight: 300;
  font-family: var(--font-roboto);
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
}
.executive-rs-200001,
.normal-rs-200003 {
  top: calc(50% - 41.5px);
  left: calc(50% - 38px);
}
.executive-rs-200001 {
  top: calc(50% - -57.5px);
  left: calc(50% - 41px);
}
.group-button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 94px);
  left: calc(50% - 157px);
  width: 320px;
  height: 281px;
}
.rectangle-div398 {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 33px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-green-100);
  width: 16px;
  height: 16px;
}
.selected-div3 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 5px);
  font-weight: 300;
  display: inline-block;
}
.group-div38,
.rectangle-div399 {
  position: absolute;
  top: calc(50% - 215px);
  left: calc(50% - -94px);
  width: 66px;
  height: 16px;
}
.rectangle-div399 {
  top: calc(50% - 8px);
  left: calc(50% - 33.5px);
  border-radius: var(--br-sm) var(--br-sm) 0 0;
  background-color: var(--color-gray-300);
  width: 16px;
}
.available-div3 {
  position: absolute;
  top: calc(50% - 6px);
  left: calc(50% - 5.5px);
  font-weight: 300;
  display: inline-block;
}
.group-div39 {
  position: absolute;
  top: calc(50% - 215px);
  left: calc(50% - 27px);
  width: 67px;
  height: 16px;
}
.unavailable-div3 {
  position: absolute;
  top: calc(50% - 213px);
  left: calc(50% - 132px);
  font-weight: 300;
  display: inline-block;
}
.booking-1-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 640px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
  font-family: var(--font-roboto);
}
