@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes jello-horizontal {
  0%,
  to {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
}
.book-my-show-logo-icon1 {
  position: absolute;
  top: calc(50% - 220px);
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.group-input {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 160px);
  width: 320px;
  height: 72px;
  opacity: 1;
}
.group-input.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.please-enter-verification-code {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 92px);
  display: inline-block;
}
.resend-span {
  font-weight: 500;
}
.resend-verification-code-in-45 {
  position: absolute;
  top: calc(50% - -104px);
  left: calc(50% - 104px);
  font-size: var(--font-size-base);
  display: inline-block;
}
.rectangle-div458 {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 120px);
  border-radius: var(--br-xl);
  background-color: var(--color-red-300);
  width: 240px;
  height: 48px;
}
.verify-b {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 19px);
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-roboto);
  color: var(--color-white);
  text-align: center;
}
.verify-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: calc(50% - -162px);
  left: calc(50% - 120px);
  width: 240px;
  height: 48px;
}
.verify-button:hover {
  animation: 1s ease 0s infinite normal none jello-horizontal;
  opacity: 1;
}
.log-in-verify-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 640px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
  font-family: var(--font-roboto);
}
