.rectangle-div22,
.rectangle-div23 {
  position: absolute;
  top: calc(50% - 320px);
  left: calc(50% - 180px);
  background-color: var(--color-gray-100);
  width: 360px;
  height: 24px;
}
.rectangle-div23 {
  top: calc(50% - 296px);
  background-color: var(--color-white);
  height: 40px;
}
.group-div14,
.rectangle-div24,
.vector-icon15 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
}
.group-div14,
.vector-icon15 {
  top: calc(50% - 9.17px);
  height: 17.65px;
}
.group-div14 {
  top: calc(50% - 286px);
  left: calc(50% - 164px);
  height: 20px;
}
.choose-a-payment-method1 {
  position: absolute;
  top: calc(50% - 234px);
  left: calc(50% - 96px);
  font-weight: 500;
  display: inline-block;
}
.rectangle-div25,
.rectangle-div26,
.rectangle-div27,
.rectangle-div28 {
  position: absolute;
  top: calc(50% - 121.5px);
  left: calc(50% - 150px);
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  width: 300px;
  height: 48px;
}
.rectangle-div26,
.rectangle-div27,
.rectangle-div28 {
  top: calc(50% - 56.5px);
}
.rectangle-div27,
.rectangle-div28 {
  top: calc(50% - -8.5px);
}
.rectangle-div28 {
  top: calc(50% - -73.5px);
}
.pay-via-paytm1 {
  position: absolute;
  top: calc(50% - 93.5px);
  left: calc(50% - 105px);
  display: inline-block;
}
.other-payment-method1,
.pay-via-debitcredit-card1,
.pay-via-google-pay1 {
  position: absolute;
  top: calc(50% - 28.5px);
  left: calc(50% - 104px);
  display: inline-block;
}
.other-payment-method1,
.pay-via-debitcredit-card1 {
  top: calc(50% - -36.5px);
}
.other-payment-method1 {
  top: calc(50% - -101.5px);
}
.ellipse-icon5 {
  position: absolute;
  top: calc(50% - -89.5px);
  left: calc(50% - 140px);
  width: 16px;
  height: 16px;
}
.ellipse-icon6 {
  top: calc(50% - -24.5px);
}
.ellipse-icon6,
.ellipse-icon7,
.ellipse-input {
  position: absolute;
  left: calc(50% - 140px);
  width: 16px;
  height: 16px;
}
.ellipse-input {
  cursor: pointer;
  top: calc(50% - 40.5px);
  border: 1px solid #c5c3c3;
  box-sizing: border-box;
}
.ellipse-icon7 {
  top: calc(50% - 105.5px);
}
.group-icon7,
.xmlid-1-icon1 {
  position: absolute;
  top: calc(50% - 111.5px);
  left: calc(50% - 105px);
  width: 38.59px;
  height: 12px;
}
.group-icon7 {
  top: calc(50% - 46.5px);
  left: calc(50% - 104px);
  width: 30.04px;
}
.group-div15,
.group-icon8,
.xmlid-69-icon1 {
  position: absolute;
  top: calc(50% - -15.5px);
  left: calc(50% - 104px);
  width: 21px;
  height: 15px;
}
.group-div15,
.group-icon8 {
  top: calc(50% - -80.47px);
  width: 18px;
  height: 16.05px;
}
.group-div15 {
  top: calc(50% - 179px);
  left: calc(50% - 154px);
  width: 300px;
  height: 243px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-700);
  font-family: var(--font-lato);
}
.payment-div1 {
  position: absolute;
  top: calc(50% - 285px);
  left: calc(50% - 120px);
  font-weight: 500;
  color: var(--color-red-300);
  display: inline-block;
}
.rectangle-div29 {
  position: absolute;
  top: calc(50% - -236px);
  left: calc(50% - 128px);
  border-radius: var(--br-sm);
  background-color: #dcdcdc;
  width: 280px;
  height: 52px;
}
.pay-now-div {
  position: absolute;
  top: calc(50% - -253px);
  left: calc(50% - 19px);
  font-weight: 500;
  color: #a0a0a0;
  text-align: center;
  display: inline-block;
}
.payment-1-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 640px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-600);
  font-family: var(--font-roboto);
}
