.rectangle-div400,
.vector-icon27 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon27 {
  width: 75.05%;
  right: 12.45%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div40 {
  position: absolute;
  height: 3.13%;
  width: 5.56%;
  top: 20.63%;
  right: 90.56%;
  bottom: 76.25%;
  left: 3.89%;
}
.pvr-forum-mall-kormangala2 {
  position: absolute;
  height: 2.5%;
  width: 51.94%;
  top: 15%;
  right: 33.61%;
  bottom: 82.5%;
  left: 14.44%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: inline-block;
}
.vector-icon28 {
  position: absolute;
  height: 91.44%;
  width: 100%;
  top: 4.17%;
  right: 0;
  bottom: 4.4%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div41 {
  position: absolute;
  height: 3.13%;
  width: 5.56%;
  top: 15%;
  right: 90.56%;
  bottom: 81.88%;
  left: 3.89%;
}
.the-forum-mall1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.kormangala-bengaluru-1 {
  margin: 0;
}
.the-forum-mall-21-22-adugodi1 {
  position: absolute;
  height: 4.38%;
  width: 64.44%;
  top: 20.63%;
  right: 21.11%;
  bottom: 75%;
  left: 14.44%;
  font-weight: 300;
  display: inline-block;
}
.line-div1 {
  position: absolute;
  height: 0.16%;
  width: 83.61%;
  top: 30.55%;
  right: 8.19%;
  bottom: 69.3%;
  left: 8.19%;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.km-away-div3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: 300;
  display: inline-block;
}
.group-div43,
.vector-icon29 {
  position: absolute;
  height: 85.71%;
  width: 21.37%;
  top: 7.14%;
  right: 78.63%;
  bottom: 7.14%;
  left: 0;
}
.vector-icon29 {
  height: 100%;
  width: 71.43%;
  top: 0;
  right: 11.9%;
  bottom: 0;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.directions-div3,
.group-div45 {
  position: absolute;
  height: 100%;
  width: 19.72%;
  top: 0;
  right: 80.28%;
  bottom: 0;
  left: 0;
}
.directions-div3 {
  height: 85.71%;
  width: 63.38%;
  top: 7.14%;
  right: 0;
  bottom: 7.14%;
  left: 36.62%;
  font-weight: 300;
  display: inline-block;
}
.group-div42,
.group-div44 {
  position: absolute;
  height: 100%;
  width: 27.1%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 72.9%;
}
.group-div42 {
  height: 2.19%;
  width: 72.78%;
  top: 26.25%;
  right: 12.78%;
  bottom: 71.56%;
  left: 14.44%;
  font-size: var(--font-size-sm);
}
.rectangle-div403,
.rectangle-div404 {
  position: absolute;
  height: 3.75%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 96.25%;
  left: 0;
  background-color: var(--color-gray-100);
}
.rectangle-div404 {
  height: 6.25%;
  top: 3.75%;
  bottom: 90%;
  background-color: var(--color-white);
}
.vector-icon30 {
  position: absolute;
  height: 100%;
  width: 75.35%;
  top: 0;
  right: 12.15%;
  bottom: 0;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bangalore-div1,
.location-div1 {
  position: absolute;
  height: 3.75%;
  width: 6.67%;
  top: 5%;
  right: 89.44%;
  bottom: 91.25%;
  left: 3.89%;
}
.bangalore-div1 {
  height: 2.5%;
  width: 17.78%;
  top: 5.63%;
  right: 68.33%;
  bottom: 91.88%;
  left: 13.89%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  color: var(--color-red-300);
  display: inline-block;
}
.vector-icon31 {
  position: absolute;
  height: 100%;
  width: 87.27%;
  top: 0;
  right: 4.39%;
  bottom: 0;
  left: 8.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notification-div1,
.vector-icon32 {
  position: absolute;
  height: 3.75%;
  width: 6.67%;
  top: 5%;
  right: 4.44%;
  bottom: 91.25%;
  left: 88.89%;
}
.vector-icon32 {
  height: 100%;
  width: 96.63%;
  top: 0;
  right: 3.37%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-div1 {
  position: absolute;
  height: 3.75%;
  width: 6.67%;
  top: 5%;
  right: 17.78%;
  bottom: 91.25%;
  left: 75.56%;
}
.today-div1,
.tomorrow-div1 {
  position: absolute;
  height: 2.19%;
  top: 32.5%;
  bottom: 65.31%;
  display: inline-block;
}
.today-div1 {
  width: 9.17%;
  right: 83.06%;
  left: 7.78%;
  color: var(--color-red-300);
}
.tomorrow-div1 {
  width: 15.28%;
  right: 58.89%;
  left: 25.83%;
}
.english-2d,
.the-warrior-queen-of-jhansi {
  position: absolute;
  height: 2.19%;
  left: 7.22%;
  display: inline-block;
}
.the-warrior-queen-of-jhansi {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 50.83%;
  top: 37.81%;
  right: 41.94%;
  bottom: 60%;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray-600);
  text-align: left;
}
.english-2d {
  width: 20.28%;
  top: 41.56%;
  right: 72.5%;
  bottom: 56.25%;
  color: var(--color-gray-500);
}
.pm-div11 {
  width: 12.5%;
  top: 45.31%;
  right: 80.28%;
  bottom: 52.5%;
  left: 7.22%;
  color: var(--color-green-200);
}
.english-2d1,
.frozen-2-button,
.pm-div11,
.pm-div12 {
  position: absolute;
  height: 2.19%;
  display: inline-block;
}
.pm-div12 {
  width: 14.17%;
  top: 45.31%;
  right: 55.83%;
  bottom: 52.5%;
  left: 30%;
  color: var(--color-green-200);
}
.english-2d1,
.frozen-2-button {
  left: 7.22%;
}
.frozen-2-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 15.28%;
  top: 50.63%;
  right: 77.5%;
  bottom: 47.19%;
  font-size: var(--font-size-base);
  font-weight: 500;
  font-family: var(--font-roboto);
  color: var(--color-gray-600);
  text-align: left;
}
.english-2d1 {
  width: 20.28%;
  top: 54.38%;
  right: 72.5%;
  bottom: 43.44%;
  color: var(--color-gray-500);
}
.pm-div13 {
  width: 12.5%;
  top: 58.13%;
  right: 80.28%;
  bottom: 39.69%;
  left: 7.22%;
  color: var(--color-green-200);
}
.english-2d2,
.ford-vs-ferrari,
.pm-div13,
.pm-div14 {
  position: absolute;
  height: 2.19%;
  display: inline-block;
}
.pm-div14 {
  width: 12.5%;
  top: 58.13%;
  right: 57.5%;
  bottom: 39.69%;
  left: 30%;
  color: var(--color-green-200);
}
.english-2d2,
.ford-vs-ferrari {
  left: 7.22%;
}
.ford-vs-ferrari {
  width: 27.5%;
  top: 63.44%;
  right: 65.28%;
  bottom: 34.38%;
  font-weight: 500;
}
.english-2d2 {
  width: 20.28%;
  top: 67.19%;
  right: 72.5%;
  bottom: 30.63%;
  color: var(--color-gray-500);
}
.pm-div15 {
  width: 14.17%;
  top: 70.94%;
  right: 78.61%;
  bottom: 26.88%;
  left: 7.22%;
}
.bala-div,
.hindi-2d,
.pm-div15,
.pm-div16 {
  position: absolute;
  height: 2.19%;
  display: inline-block;
}
.pm-div16 {
  width: 12.5%;
  top: 70.94%;
  right: 57.5%;
  bottom: 26.88%;
  left: 30%;
  color: var(--color-green-200);
}
.bala-div,
.hindi-2d {
  left: 7.22%;
}
.bala-div {
  width: 8.61%;
  top: 76.25%;
  right: 84.17%;
  bottom: 21.56%;
  font-weight: 500;
}
.hindi-2d {
  width: 15.56%;
  top: 80%;
  right: 77.22%;
  bottom: 17.81%;
  color: var(--color-gray-500);
}
.am-div {
  width: 14.44%;
  top: 83.75%;
  right: 78.33%;
  bottom: 14.06%;
  left: 7.22%;
}
.am-div,
.helen-div,
.pm-div17 {
  position: absolute;
  height: 2.19%;
  display: inline-block;
}
.pm-div17 {
  width: 12.5%;
  top: 83.75%;
  right: 57.5%;
  bottom: 14.06%;
  left: 30%;
  color: var(--color-green-200);
}
.helen-div {
  width: 10.56%;
  top: 89.06%;
  right: 82.22%;
  bottom: 8.75%;
  left: 7.22%;
  font-weight: 500;
}
.rectangle-div408 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}
.group-icon10,
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  position: absolute;
  height: 50%;
  width: 6.67%;
  top: 25%;
  right: 6.67%;
  bottom: 25%;
  left: 86.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon33,
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon34,
.vector-icon35,
.vector-icon36 {
  height: 43.83%;
  width: 45.68%;
  top: 28.08%;
  right: 27.16%;
  bottom: 28.08%;
  left: 27.16%;
}
.vector-icon35,
.vector-icon36 {
  height: 21.15%;
  width: 22.04%;
  top: 24.05%;
  right: 51%;
  bottom: 54.81%;
  left: 26.96%;
}
.vector-icon36 {
  top: 54.81%;
  right: 26.96%;
  bottom: 24.05%;
  left: 51%;
}
.group-button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 50%;
  width: 6.4%;
  top: 25%;
  right: 33.47%;
  bottom: 25%;
  left: 60.13%;
}
.group-icon11,
.rectangle-div409 {
  position: absolute;
  height: 99.98%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0.02%;
  left: 0;
}
.group-icon11 {
  height: 100%;
  width: 87.99%;
  right: 7.85%;
  bottom: 0;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-button6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 50.01%;
  width: 6.67%;
  top: 25%;
  right: 86.67%;
  bottom: 24.99%;
  left: 6.67%;
}
.vector-icon37 {
  position: absolute;
  height: 87.89%;
  width: 100%;
  top: 4.17%;
  right: 0;
  bottom: 7.95%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div46,
.nav-div1 {
  position: absolute;
  height: 50%;
  width: 6.67%;
  top: 25%;
  right: 60.28%;
  bottom: 25%;
  left: 33.06%;
}
.nav-div1 {
  height: 7.5%;
  width: 100%;
  top: 92.5%;
  right: 0;
  bottom: 0;
  left: 0;
}
.theatres-movies-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 640px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-600);
  font-family: var(--font-roboto);
}
