@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.hurray-div,
.your-tickets-are-booked {
  position: absolute;
  top: calc(50% - -21px);
  left: calc(50% - 32px);
  font-weight: 500;
  display: inline-block;
}
.your-tickets-are-booked {
  top: calc(50% - -82px);
  left: calc(50% - 105px);
}
.vector-icon {
  position: absolute;
  top: calc(50% - 54.99px);
  left: calc(50% - 54.15px);
  width: 109.12px;
  height: 109.12px;
}
.ellipse-icon,
.ellipse-icon1 {
  position: absolute;
  top: calc(50% - 49.1px);
  left: calc(50% - 88.01px);
  width: 14.55px;
  height: 14.55px;
}
.ellipse-icon1 {
  top: calc(50% - -27.82px);
  left: calc(50% - -89.46px);
}
.ellipse-icon2,
.ellipse-icon3 {
  position: absolute;
  top: calc(50% - -65.91px);
  left: calc(50% - -42.99px);
  width: 9.09px;
  height: 9.09px;
}
.ellipse-icon3 {
  top: calc(50% - 75px);
  left: calc(50% - 30.89px);
}
.ellipse-icon4,
.ellipse-icon5,
.vector-button {
  position: absolute;
  top: calc(50% - 68.91px);
  left: calc(50% - -63.56px);
  width: 20.01px;
  height: 20.01px;
}
.ellipse-icon5,
.vector-button {
  top: calc(50% - -27.82px);
  left: calc(50% - 104.01px);
}
.vector-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - 219px);
  left: calc(50% - 104px);
  width: 208.01px;
  height: 150px;
  opacity: 1;
}
.vector-button.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.group-button,
.rectangle-div,
.vector-icon1 {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  width: 20px;
  height: 20px;
}
.group-button,
.vector-icon1 {
  top: calc(50% - 9.17px);
  height: 17.65px;
}
.group-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: calc(50% - -185px);
  left: calc(50% - 9px);
  height: 20px;
}
.tickets-booked-div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 640px;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-600);
  font-family: var(--font-roboto);
}
